*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is 10px/16px=0.625 = 62.5%
    font-size: 62.5%;       // 1rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    transition: all .3s;
}


/* CUSTOM CLASSES
   ================== */
.container {
    max-width: $container-width;
    padding: 0 2.5rem;
    margin: auto;
}

.full-container {
    width: 100%;
}

.section-title {
    @include section-title;
}

.btn {
    @include btn;
}