
/* FONTS AND TYPOGRAPHY STYLES
   =============================== */

// Default font - 'Roboto'
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


@mixin paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 0.07rem;
}

@mixin page-title {
    font-size: 5rem;
    color: $white;
    text-transform: uppercase;

    
    @include respond(phone) {
        font-size: 3rem;
    }
}

@mixin section-title {
    font-size: 3.4rem;
    color: $section-title;
    text-transform: uppercase;
    padding: 5rem 0 3.5rem 0;
    position: relative;

    &:after {
        content: '';
        width: 6rem;
        height: 5px;
        background-color: $red;
        position: absolute;
        left: 0;
        bottom: 2rem;
    }
}