
/* LATEST NEWS
  ================ */
  
.latest-news {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.5rem;

    @include respond(phone) {
        display: block;
    }

    .latest-news-block {
        position: relative;
        margin: 1.5rem;

        &__image {
            width: 100%;
            display: block;
        }
    
        &__title {
            @include paragraph;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.6);
            color: $white;
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 400;
        }

    }
}

/* GREAT STORY
  ================
*/

.separated-article {
    display: flex;
    margin-top: 10rem;

    @include respond(max-tablet-port) {
        flex-direction: column;
    }

    &__image {
        flex-basis: 40%;

        @include respond(max-tablet-port) {
            flex-basis: 100%;
            max-height: 15rem;
            overflow: hidden;
        }

        img {
            width: 100%;
        }
    }

    &__text {
        flex: 1;
        text-align: left;
        padding-left: 5rem;

        @include respond(max-tablet-port) {
            padding-left: 0px;
            margin-top: 2rem;
        }

        .section-title {
            padding-top: 0;
        }

        .paragraph {
            @include paragraph;
            
            color: #111;
            font-size: 1.8rem;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        .btn {
            margin-top: 5rem;
        }
    }
}