
/* MEDIA QUERY MANAGER
   ========================  */

/*
0 - 600px:         Phone
600 - 900:         Tablet portrait
900 - 1200:        Tablet landscape
1200 - 1900:       Desktop
1900 + :           Large screens


$breakpoint argument choices:
- phone  - Up to 600px
- min-phone   - Over 600px
- max-tablet-port  - Up to 900px
- min-tablet-port  - Over 900px
- max-tablet-land  - Up to 1200px
- desktop          - Over 1200px
- medium-desktop   - Over 1600px
- large-screens    - Over 1900px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) {@content};
    }
    @if $breakpoint == min-phone {
        @media only screen and (min-width: 600px) {@content};
    }
    @if $breakpoint == max-tablet-port {
        @media only screen and (max-width: 900px) {@content};
    }
    @if $breakpoint == min-tablet-port {
        @media only screen and (min-width: 900px) {@content};
    }
    @if $breakpoint == max-tablet-land {
        @media only screen and (max-width: 1200px) {@content};
    }
    @if $breakpoint == desktop{
        @media only screen and (min-width: 1201px) {@content};
    }
    @if $breakpoint == medium-desktop{
        @media only screen and (min-width: 1600px) {@content};
    }
    @if $breakpoint == large-screens {
        @media only screen and (min-width: 1900px) {@content};
    }
}


@mixin btn {
    display: block;
    min-width: 20rem;
    text-align: center;
    color: $white;
    font-size: 1.8rem;
    font-weight: 400;
    background-color: $red;
    border-radius: 0.5rem;
    padding: 1.5rem 0;

    &:hover {
        color:$btn-hover-text-color;
    }
}