
/* COLORS
   ========== */

// Default
   $red: #c82a2b;
   $bg-light-grey: #fcfcfc;
   $white: #ffffff;
   $dark-blue: #000d1a;

// Text
    $title: #595959;
    $menu-item: #505050;
    $section-title: #333333;
    $btn-hover-text-color: #ddd;
    
/* DIMENSIONS
   ============== */
   $container-width: 120rem;