
/* COVERS
   ========== */

.cover {
    display: flex;
    align-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 60rem;

    &.cover-hp {
        background-image: url('/dist/media/images/cover.jpg');
    }

    .cover-container {
        background-color: rgba(0,0,0, 0.7);
        padding: 2rem 5rem;

        .page-title { 
            @include page-title;
            
            padding-bottom: 1rem;
        }
    
        .cover-paragraph {
            @include paragraph;
            
            font-size: 2.5rem;
            color: $white;

            @include respond(phone) {
                font-size: 1.8rem;
            }
        }

    }
}