
/* FOOTER
  =========== */
.footer {
    background-color: $dark-blue;
    padding: 1.5rem 2.5rem;

    .footer-container {
        display: flex;

        @include respond(phone) {
            flex-direction: column;
        }
        
        .logo {
            height: 7rem;
        }
    
        .navigation-menu {
            display: flex;
            flex: 1;
            align-self: center;
            margin-left: 3rem;
            
            @include respond(phone) {
                margin-left: 0;
            }

            &__item {
               list-style: none; 

                a { 
                    font-weight: 300;
                    color: $white;
                    font-size: 1.7rem;
                    text-transform: uppercase;

                    &:hover {
                        color: $red;
                    }
                }

                &:not(:last-child) {
                    margin-right: 4rem;

                    @include respond(phone) {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}