
/*   LOGO + NAVIGATION MENU
    =========================== */

.header {
    background-color: $bg-light-grey;
    
    .header-container {
        display: flex;
        padding: 1rem 2.5rem;

        @include respond(phone) {
            flex-direction: column;
        }
    
        .logo {
            height: 7rem;
        }
    
        .navigation-menu {
            display: flex;
            flex: 1;
            align-self: center;
            justify-content: flex-end;
    
            &__item {
               list-style: none; 

                a { 
                    font-weight: 400;
                    color: $menu-item;
                    font-size: 1.7rem;
                    text-transform: uppercase;

                    &:hover {
                        color: $red;
                    }
                }

                &:not(:last-child) {
                    margin-right: 4rem;

                    @include respond(phone) {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}