
/* NEWSLETTER
  =============== */

.newsletter {
    background-image: url('/dist/media/images/cover.jpg');
    min-height: 29rem;
    margin-top: 10rem;

    .subtitle {
        @include section-title;

        color: $white;
        padding-top: 8rem;
        
    }

    .form {
        display: flex;
        
        @include respond(phone) {
            flex-direction: column;
        }

        &__email {
            width: 60rem;
            border: 0;
            outline: 0;
            padding-left: 2rem;
            border-bottom: 4px solid transparent;

            &:focus:invalid {
                border-bottom: 4px solid $red;
            }
           
            &:focus {
                border-bottom: 4px solid #7CFC00;
            }
            
            @include respond(phone) {
                height: 4rem;
                width: 100%;
            }
        }

        &__btn {
            border: 0;
            outline: 0;
            margin-left: 2rem;
            min-width: 15rem;
            cursor: pointer;

            @include respond(phone) {
                margin-left: 0;
                margin-top: 1.5rem;
            }
        }
    }
}